"insert title"

Group members: Vivaan, Justin, Katelyn, Katie Archer (84677194)

In [2]:
install.packages("foreign")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [3]:
library(foreign)

In [1]:
# Reading in the data
url <- "https://archive.ics.uci.edu/static/public/582/student+performance+on+an+entrance+examination.zip"

# Define the local file name for the downloaded ZIP file
zip_file <- "student_performance.zip"

# Download the ZIP file from the URL
download.file(url, destfile = zip_file)

# Unzip the downloaded file
unzip(zip_file, exdir = "data")

In [5]:
data <- read.arff("data/CEE_DATA.arff")
head(data)

  Performance Gender Caste   coaching time Class_ten_education twelve_education
1 Excellent   male   General NO       ONE  SEBA                AHSEC
2 Excellent   male   OBC     WA       TWO  SEBA                AHSEC
3 Excellent   male   OBC     OA       TWO  OTHERS              CBSE
4 Excellent   male   General WA       ONE  SEBA                AHSEC
5 Excellent   male   General OA       TWO  SEBA                CBSE
6 Excellent   male   General WA       TWO  CBSE                CBSE
  medium  Class_ X_Percentage Class_XII_Percentage Father_occupation
1 ENGLISH Excellent           Excellent            DOCTOR
2 OTHERS  Excellent           Excellent            SCHOOL_TEACHER
3 ENGLISH Excellent           Excellent            BUSINESS
4 OTHERS  Excellent           Excellent            SCHOOL_TEACHER
5 ENGLISH Excellent           Excellent            COLLEGE_TEACHER
6 ENGLISH Excellent           Excellent            COLLEGE_TEACHER
  Mother_occupation
1 OTHERS
2 HOUSE_WIFE
3 HOUSE_WIFE
4 SCHOOL_TEACHER
5 HOUSE_WIFE
6 HOUSE_WIFE

Introduction:

Preliminary Results:

Methods: Plan

References: