"insert title"

Group members: Vivaan, Justin, Katelyn, Katie Archer (84677194)

In [1]:
install.packages("foreign")

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

In [2]:
library(foreign)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# Reading in the data
url <- "https://archive.ics.uci.edu/static/public/582/student+performance+on+an+entrance+examination.zip"

# Define the local file name for the downloaded ZIP file
zip_file <- "student_performance.zip"

# Download the ZIP file from the URL
download.file(url, destfile = zip_file)

# Unzip the downloaded file
unzip(zip_file, exdir = "data")

In [4]:
data <- read.arff("data/CEE_DATA.arff") |> mutate_if(is.factor, as.character)
head(data)

  Performance Gender Caste   coaching time Class_ten_education twelve_education
1 Excellent   male   General NO       ONE  SEBA                AHSEC
2 Excellent   male   OBC     WA       TWO  SEBA                AHSEC
3 Excellent   male   OBC     OA       TWO  OTHERS              CBSE
4 Excellent   male   General WA       ONE  SEBA                AHSEC
5 Excellent   male   General OA       TWO  SEBA                CBSE
6 Excellent   male   General WA       TWO  CBSE                CBSE
  medium  Class_ X_Percentage Class_XII_Percentage Father_occupation
1 ENGLISH Excellent           Excellent            DOCTOR
2 OTHERS  Excellent           Excellent            SCHOOL_TEACHER
3 ENGLISH Excellent           Excellent            BUSINESS
4 OTHERS  Excellent           Excellent            SCHOOL_TEACHER
5 ENGLISH Excellent           Excellent            COLLEGE_TEACHER
6 ENGLISH Excellent           Excellent            COLLEGE_TEACHER
  Mother_occupation
1 OTHERS
2 HOUSE_WIFE
3 HOUSE_WIFE
4 SCHOOL_TEACHER
5 HOUSE_WIFE
6 HOUSE_WIFE

Just trying some stuff:

In [5]:
# Printing out unique values of Performance/Caste columns

print(unique(data$Performance))
print(unique(data$Caste))

[1] "Excellent" "Vg"        "Good"      "Average"
[1] "General" "OBC"     "SC"      "ST"

In [6]:
excellent <- data |>
    filter(Performance == "Excellent")

rows <- excellent |> nrow()
rows

[1] 101

In [7]:
father_exc <- excellent |>
    filter(Father_occupation == "DOCTOR") 

father_rows <- father_exc |> nrow()
father_rows

[1] 11

In [8]:
average <- data |>
    filter(Performance == "Average")

nrow <- average |> nrow()
nrow

[1] 157

In [9]:
father_ave <- average |>
    filter(Father_occupation == "DOCTOR") 

father_rows_ave <- father_ave |> nrow()
father_rows_ave

[1] 8

Probably won't work due to small size
- Bootstrap?

# Introduction:

**Quick Rundown and Description of Variables**

| Variables      | Description |
| ----------- | ----------- |
Performance | One of the following descriptions: 'Excellent', 'Vg (Very good)', 'Good', 'Average'. Pertains to performance in the common entrance examination   |Gender | Candidate's gender  
| Caste   | One of: "General", "OBC" , "SC", "ST"|
| coaching   | Whether or not candidate attended coaching classes within/outisde Assam or not |
| Class_ten_education   | Name of board where candidate studied at Class X level |
| twelve_education   | Name of board where candidate studied at Class XII level |
| medium   | Medium of instructions (language) for study at Class XII level |
| Class_ X_Percentage   | Percentage secured by candidate at Class X level |
| Class_ XII_Percentage   | Percentage secured by candidate at Class XII level |
| Father_occupation   | The occupation of the father of the candidate        |
| Mother_occupation   | The occupation of the mother of the candidate        |  |t | |

# Preliminary Results:

# Methods: Plan

### Question: 
__Is there a correlation between a student's performance in the Common Entrance Examination for medical school in Assam and their parents' professions?__

# References: